<p>Du möchtest Lindy Hop tanzen? Egal, ob du es noch nie probiert hast, oder du schon gut tanzen kannst, hier bist du richtig.</p>

<h1>Freies Tanzen</h1>
<p>Wir veranstalten regelmäßig Kurse und Socials, zu denen alle herzlich eingeladen sind. Die Kurse richten sich an verschiedene Niveaus, und das Erlernte kann im anschließenden Social beim freien Tanzen angewendet werden.</p>

<h3>Infos zu den Kursen</h3>
<p>In der Regel ist der erste Kurs im Monat für absolute Anfänger, die noch nie Lindy Hop getanzt haben. In allen anderen Kursen gehen wir davon aus, dass ihr den Grundschritt schon könnt. Der letzte Kurs im Monat ist für fortgeschrittene Tänzer reserviert, die schon sehr sicher tanzen können.</p>

<p>Du musst nicht unbedingt mit Partner kommen. Wir wechseln ohnehin häufig die Partner durch. Zudem kannst du dich frei entscheiden, ob du leader oder follower lernen willst.</p>
<p>Wenn du dir unsicher bist, welcher Kurs zu dir passt, kannst du trotzdem gerne kommen. Wenn dein Niveau nicht ganz passt, kann es sein, dass wir den Kurs fortführen, ohne extra auf dich einzugehen. Aber spätestens zum Social kannst du wieder voll dabei sein!</p>

<h2>Montagssocial &amp; -kurs</h2>
<ul>
  <li>19:45&ndash;20:30 Uhr: Kurs (Aufbau 19:30 Uhr)</li>
  <li>20:30&ndash;22:00 Uhr: Social</li>
</ul>
<p><a href="https://chico-mendes.de/">Chico Mendes</a>, <a href="https://goo.gl/maps/8WcH8Tq27hj7iffS8">Pontstraße 74&ndash;76</a></p>
<p>Kurs und Social sind kostenlos. Jedoch bitten wir um den Kauf von Getränken zur Unterstützung des Chico Mendes.</p>
<h3>Nächste Termine</h3>
<ol>
  <% @chico_occurrences.each do |occ| %>
    <li><%= l occ.date, format: :short %><%= " (Kurs für absolute Anfänger)" if occ.beginners %></li>
  <% end %>
</ol>

<h2>Donnerstagssocial &amp; -kurs</h2>
<ol>
  <li>19:45&ndash;20:30 Uhr: Kurs</li>
  <li>20:30&ndash;22:00 Uhr: Social</li>
</ol>
<p><a href="http://www.salsa-club-sencillito.de/">Sencillito</a>, <a href="https://goo.gl/maps/DUHztYtu4rvPacnB8">Alexanderstraße 109</a></p>
<p>Kurs und Social sind kostenlos. Bei Eintritt gilt 4 € Mindestverzehr, zur Unterstützung des Sencillito.</p>
<h3>Nächste Termine</h3>
<ol>
  <% @sencillito_occurrences.each do |occ| %>
    <li><%= l occ.date, format: :short %><%= " (Kurs für absolute Anfänger)" if occ.beginners %></li>
  <% end %>
</ol>

<h1>Weitere Kurse</h1>
<p>In Aachen gibt es noch weitere Möglichkeiten, Lindy Hop zu erlernen.</p>

<h2>Lindy Hop-Kurs mit Yulia</h2>
<ol>
  <li>Samstags, 16&ndash;17:30 Uhr</li>
</ol>
<p><a href="https://goo.gl/maps/4CdC9tzVGzUSB9gq5">Kurbrunnenstraße 30</a>, im Hof hinterm Tor.</p>
<p>Alle Level sind willkommen. Einen Tanzpartner müsst ihr nicht mitbringen.</p>
<h3>Termine</h3>
<ol>
  <li>Sa, 02.11.</li>
  <li>Sa, 09.11.</li>
  <li>Sa, 23.11.</li>
  <li>Sa, 30.11.</li>
</ol>

<h2>Swing-Kurse der VHS</h2>
An der VHS bieten Sabine und Arno eine <a href="https://it-must-schwing.de/kurse-regular-classes/">Vielzahl von Kursen</a> zu Swing-Tänzen an.

<h2>Lindy Hop-Kurse der RWTH</h2>
Der Hochschulsport der RWTH bietet <a href="https://hochschulsport.rwth-aachen.de/go/id/klio?#aaaaaaaaaaakliu">Lindy Hop Kurse</a> an. Die Anmeldung erfolgt im Paar.

